body{
    background-color: #131313;
    margin: 0;
    padding: 0;
    color: aliceblue;
    
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: 0;
    margin: 150px;
}
h1{
    font-size: 4.6rem;
    margin: 0;
}

span{
    font-size: 5rem;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.btn{
    width: 200px;
    height:max-content;
    font-size: x-large;
    margin: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: rgba(255, 0, 0, 0.849) 0px 30px 60px -12px inset, rgb(255, 248, 105) 0px 18px 36px -18px inset;
}

.bg{

    width: fit-content;
    /* height: 100vh; */
    object-fit: contain;


}
.bg img{
    width: 100vw;
    height: auto;
    clip-path: polygon(0 0,100% 0, 100% 0%, 0 100%);
}